.login-container{
height:100vh;
width:100vw;
display:flex;
font-family:'Arimo', sans-serif;
overflow:hidden;
}

.login-left{
width:50%;
background-size:cover;
background-position:center;
}

.login-right{
width:50%;
background:#FFFBF2;
display:flex;
flex-direction:column;
justify-content:center;
padding:60px;
}

.logo-row{
display:flex;
justify-content:center;
gap:15px;
margin-bottom:20px;
}

.logo-row img{
height:45px;
}

.authorized-text{
color:#FF0000;
text-align:center;
font-weight:500;
margin-bottom:20px;
}

.signin-text{
text-align:center;
margin-bottom:25px;
}

label{
font-size:14px;
margin-top:12px;
}

.required{
color:#FF0000;
}

input{
width:100%;
padding:10px;
background:#FDFFCA;
border:1px solid #832200;
border-radius:5px;
margin-top:5px;
font-family:'Arimo';
}

.password-field{
position:relative;
}

.eye-icon{
position:absolute;
right:10px;
top:10px;
cursor:pointer;
color:#7A601D;
}

.login-button{
margin-top:20px;
background:#032541;
color:white;
padding:12px;
border:none;
border-radius:6px;
cursor:pointer;
font-family:'Arimo';
}

.forgot{
color:#20639B;
text-align:center;
margin-top:15px;
display:block;
text-decoration:none;
}

.footer{
text-align:center;
font-size:12px;
margin-top:40px;
}